.floating-actions {
  position: fixed;
  z-index: 10;
  right: 25px;
  bottom: 35px;
  display: block;
}

.action-btn {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin: 20px auto 0;
  border: none;
  border-radius: 50%;
  box-shadow: 0 5px 11px -2px rgb(0 0 0 / 18%), 0 4px 12px -7px rgb(0 0 0 / 15%);
  transition: all 0.1s ease-out;
}

.action-btn:active,
.action-btn:focus,
.action-btn:hover {
  box-shadow: 0 0 4px rgb(0 0 0 / 14%), 0 4px 8px rgb(0 0 0 / 28%);
}

.action-btn:not(:last-child) {
  transform: translateY(50px);
  width: 47px;
  height: 47px;
  margin: 0 auto;
  font-size: 1.2em;
  opacity: 0;
}

.action-btn:nth-last-child(1) {
  background-color: var(--primary-color);
  background-image: url('assets/images/pencil-ruler-solid.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  transition-delay: 25ms;
}

.action-btn:not(:last-child):nth-last-child(2) {
  background: var(--secondary-color);
  transition-delay: 20ms;
}

.action-btn:not(:last-child):nth-last-child(2) > i {
  margin: 15px;
  font-size: 0.9em;
  color: #fff;
}

.action-btn:not(:last-child):nth-last-child(3) {
  background: var(--secondary-color);
  transition-delay: 40ms;
}

.action-btn:not(:last-child):nth-last-child(3) > i {
  margin: 14px 15px 15px;
  font-size: 1.05em;
  color: #fff;
}

.floating-actions:hover .action-btn:not(:last-child) {
  transform: none;
  margin: 15px auto 0;
  opacity: 1;
}

[data-tooltip]::before {
  content: attr(data-tooltip);
  position: absolute;
  right: 100%;
  bottom: 25%;
  margin-right: 12px;
  padding: 5px 7px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  background: rgb(0 0 0 / 63.7%);
  border-radius: 6px;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  visibility: visible;
  opacity: 1;
}
